<%
@page_title = "My Tracks"
%>
<table style="width:100%">
  <tr>
    <th style="width:90%">Name</th>
    <th style="width:5%"></th>
    <th style="width:5%"></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.name %></td>
    <td><%= link_to image_tag("icons/ico-viewpage.png", :alt => 'View Track Details', :title => "View Track Details"), track %></td>
    <td><%= link_to image_tag("icons/ico-close.png", :alt => 'Destroy', :title => "Destroy"), track, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
