<%
@page_title = "Add New Track"
%>
<% form_for(@track) do |f| %>
  <%= f.error_messages %>

  <p>
    <label>URL</label>
    <input id="url" name="url" size="30" type="text" />
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tracks_path %>