<%
@page_title = "Trackster Help"
%>

<h3>How to I load my tracks from MotionX?</h3>
First, use the 'Share' feature on MotionX to email yourself a copy of your track.  Copy the 'Google Maps' URL from your email.  It should look something like this: <code>http://maps.google.com/?t=p&z=15&ll=37.79037094116211,-122.44390869140625&q=http://api.motionxlive.com/motionx-remote/api/gps/host/d05a8367-ad55-4b14-97fc-a5ed39d36779</code>.  Paste that URL in the 'New Track' field on Trackster, and you've added your first track.