<%
@page_title = current_user ? "Dashboard" : "Welcome"
%>
<% if !current_user.nil? %>
<table>
  <tr>
    <td><strong>Total Tracks:</strong></td><td><%= @total_tracks -%></td>
  </tr>
  <tr>
    <td><strong>Total Active Time:</strong></td><td><%= sprintf("%.2f", @total_active_time / 60) -%> minutes</td>
  </tr>
  <tr>
    <td><strong>Total Distance:</strong></td><td><%= sprintf("%.2f", @total_distance.to_f.meters.to.miles.to_f) -%> miles</td>
  </tr>
</table>
<a href="/tracks">View All Tracks</a>
<% else %>
<p>
  Welcome to Trackster.org
</p>
<p>
  Trackster is a an easy to use tool that allows you to input your MotionX GPS tracks, so you can see aggregate statistics about your tracks, i.e. total distance travelled.
</p>
<p>
  We'll continue to add new features, statistics, graphs and aggregations.
</p>
<a href="/signup">Signup Now</a>

<% end %>
