<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tracks: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<div>
<% if current_user.nil? %>
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<% else %>
  You is logged in!
  <a href="/logout">Logout</a>
<% end %>
</div>

<div align="center">
  <div style="width:800px" align="left">
    <%= yield %>
  </div>
<div>

</body>
</html>
